@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

/* Sección Header */

.nav_container {    
  display: flex;
  align-items: center;
  justify-content: space-between;}

.nav_item {
  color: white;
  text-decoration: none;}

.nav_label {
  width: 9vh;   
  display: block;
  cursor: pointer;}

.nav_label hr{
  border-radius: 5px;
  padding-bottom: 3px;
  background-color: white;
  border-color: white;
  margin-bottom: 7px;}

.nav_menu {
  z-index: 1;
  position: fixed;
  top: 80px;
  bottom: 0px;
  background-color: #009458;   
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  clip-path: circle(0 at center);
  transition: 1s;
  font-family: 'Dosis', sans-serif;  
  font-size: 25px;}

.nav_input {display: none;}

.nav_input:checked + .nav_menu{
  clip-path: circle(100% at center);}

.hamburguesa {
  padding: 10px 10px 10px 40px;
  width: 100%;
  background-color: #009458;
  display: flex;
  justify-content: space-between;}


/* Sección información estudiante */
.person {
  margin: 0 2% 0 2%;
  padding: 15px;
  background-color: #d9efe6;
  border-radius: 15px;
  box-shadow: 0px 2px 2px 0px grey;}

.container_ficha {
  display: flex;
  flex-direction: column;
  align-items: center;}

.imagen_persona {
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
  margin-bottom: 20px;} 
.nombre_persona {
  background-color: #009458;
  border-radius: 15px;  
  padding: 0 20px 0 20px;
  text-align: center; 
  margin-bottom: 20px;
  color: white;}

.person  {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 16px;}

.nombre_persona h2 {  
  font-family: 'Dosis', sans-serif;
  font-weight: 200;}

.informacion_estudiante { 
  display: grid;
  grid-template-columns: 55% 45% ; 
  padding: 5px;
  gap: 5px;
  word-wrap: break-word;}

.info_der {  
  padding-top: 20px;}

.informacion_estudiante h3 {
  font-size: 16px;
  margin-bottom: 15px;}

.informacion_estudiante h4 {
  font-size: 14px;
  margin-bottom: 10px;}

.informacion_estudiante p {  
  font-size: 15px;}

/* Sección nivel de aprobación con caras */

.faces {
  width: 100%;
  height: 180px;  
  border-radius: 15px;
  box-shadow: 0px 2px 2px 0px grey;
  display: flex;
  justify-content: space-around;  
  background-color: white;}

.face1, .face2, .face3  {  
  padding-top: 30px ;  
  display: flex;
  flex-direction: column;  
  align-items: center;}

.face1 {
  padding-left: 10px;}

.face3 {
  padding-right: 10px;}

.face2 {
  padding-left: 15px;
  padding-right: 15px;}

#cara {   
  width:50px;
  height:50px;
  border-radius:50%;
  border: solid 4px #009458;  
  margin-bottom: 10px;}
  
.face1, .face2, .face3 {
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;}

.face1:hover, .face2:hover, .face3:hover  {
  --escala: 1.1;
  cursor:pointer;}

.faces hr {   
  margin-top: 10px;  
  margin-bottom: 10px;  
  border: 1px solid grey;}

.ojos {
  display: flex;
  align-items: center;
  justify-content: space-around;} 

.ojo_i {
  margin-top: 8px;
  margin-left: 3px;
  *margin: 8px 5px 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #009458;}

.ojo_d {
  margin-top: 8px;
  margin-right: 3px;
  *margin: 8px 0px 0 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #009458;}

.boca {
  transform: translate(50%, 100%);  
  height: 10px;
  width: 20px;
  border-radius: 0 0 150px 150px ;
  background-color: #009458;}

.face1 h2{color: #009458;}

.face2 #cara {
  border: solid 4px #fab005;}

.face2 .ojo_i {
  background-color: #fab005;}

.face2 .ojo_d {
  background-color: #fab005;}

.face2 .boca {
  border-radius:   150px 150px 150px 150px ;
  background-color: #fab005;
  transform: translate(50%, 200%);
  height: 5px;}

.face2 h2 {color: #fab005;}

.face3 #cara {
  border: solid 4px red;}

.face3 .ojo_i {
  background-color: red;}

.face3 .ojo_d {
  background-color: red;}

.face3 .boca {
  border-radius:   150px 150px 0px 0px ;
  background-color: red;
  transform: translate(50%, 80%);
  height: 10px;}

.face3 h2 {color: red;}

.faces p {  
  font-size: 18px;
  margin-top: 10px;}

/* Sección cursos */
.courses{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}


.courses__container{
  display: flex;
  animation: cambio 20s infinite;
}


@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -160%;}
  45%{margin-left: -160%;}

  50%{margin-left: -160%;}
  70%{margin-left: -160%;}

  75%{margin-left: 160%;}
  100%{margin-left: 160%;}
}


.courses__container--cosas{
  width: 315px;
  height: 620px;
  display: inline-block;
  margin: 0 20px;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: -4px 1px 13px 3px gray;
  background-color: white;
}


.courses__container--img img{
  width: 94%;
  margin: 10px;
  border-radius: 5%;
}


.courses__container--title{
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  background-color: #009458;
}


.courses__container--title h2{
  font-family: 'Dosis', sans-serif;
  color: white;
}


.courses__container--information{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12px 10px;
}


.courses__information--h3{
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  color: #009458;
}


.courses__information--p{
  margin-bottom: 30px;
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
}


.courses__information--time{
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
  color: #009458;
}


.courses__information--semestre{
  margin-bottom: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
}


.courses__information--barra{
  margin-top: 10px;
  position: relative;
  border: 1px solid #C2C2C2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #C2C2C2;
}


.courses__information--barra div{
  width: 0;
  padding: 20px;
  position: relative;
  border: 1px solid #009458;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #009458;
}


.courses__information--mini-barra{
  animation: biologia-barra 2s forwards;
}


@keyframes biologia-barra{
  100%{
    width: 55%;
  }
}


.courses__information--barra2{
  margin-top: 10px;
  position: relative;
  border: 1px solid #C2C2C2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #C2C2C2;
}


.courses__information--barra2 div{
  width: 0;
  padding: 20px;
  position: relative;
  border: 1px solid #009458;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #009458;
}


.courses__information--mini-barra2{
  animation: quimica-barra 2s forwards;
}


@keyframes quimica-barra{
  100%{
    width: 25%;
  }
}


.courses__information--barra3{
  margin-top: 10px;
  position: relative;
  border: 1px solid #C2C2C2;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #C2C2C2;
}


.courses__information--barra3 div{
  width: 0;
  padding: 20px;
  position: relative;
  border: 1px solid #009458;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #009458;
}


.courses__information--mini-barra3{
  animation: economia-barra 2s forwards;
}


@keyframes economia-barra{
  100%{
    width: 85%;
  }
}


.courses__ver{
  margin: 20px 0;
}


.courses__ver a{
  font-size: 20px;
  color: #009458;
}
/* Sección satisfacción por curso */
.satisfaction{
  width: 100%;
  height: 100vh;
}


.satisfaction__container{
  margin: 0 20px;
}


.satisfaction__container--title h2{
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(30deg, #009458 90%, transparent 20%);
  color: white;
}


.satisfaction__container--porcentajes{
  height: 80vh;
  position: absolute;
}


.satisfaction__container--linear1{
  width: 100%;
  position: absolute;
  top: 21%;
  left: 50px;
  border: 1px solid #009458;
  border-left: none;
  border-right: none;
  border-bottom: none;
}


.satisfaction__container--cien{
  position: absolute;
  top: 15%;
  left: 15px;
  font-family: 'Dosis', sans-serif;
  color: black;
}


.satisfaction__container--linear2{
  width: 100%;
  position: absolute;
  top: 51%;
  left: 50px;
  border: 1px solid #009458;
  border-left: none;
  border-right: none;
  border-bottom: none;
}


.satisfaction__container--cincuenta{
  position: absolute;
  top: 50%;
  left: 15px;
  font-family: 'Dosis', sans-serif;
  color: black;
}


.satisfaction__container--linear3{
  width: 100%;
  position: absolute;
  top: 91.2%;
  left: 50px;
  border: 1px solid #009458;
  border-left: none;
  border-right: none;
  border-bottom: none;
}


.satisfaction__container--c{
  position: absolute;
  top: 89%;
  left: 22px;
  font-family: 'Dosis', sans-serif;
  color: black;
}


.satisfaction__container--linebackground{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #d8f9ec;
}


.satisfaction__container--barras{
  width: 70%;
  height: 65vh;
  border: 1px solid #009458;
  border-top: none;
  border-right: none;
  display: flex;
}


.satisfaction__container--barra1{
  width: 15%;
  height: 65vh;
  margin-left: 12px;
  background: linear-gradient(45deg, #DF0303, #DBDF03, #009458);
  position: relative;
}


.satisfaction__container--barra1 div{
  width: 12%;
  padding: 20px;
  height: 65vh;
  background-color: #d8f9ec;
  position: relative;
}


.satisfaction__container--mini-barra1{
  animation: barra1 2s forwards;
}


@keyframes barra1{
  100%{
    height: 50%;
  }
}


.satisfaction__container--barra2{
  width: 15%;
  height: 65vh;
  margin-left: 12px;
  background: linear-gradient(45deg, #DF0303, #DBDF03, #009458);
  position: relative;
}


.satisfaction__container--barra2 div{
  width: 12%;
  padding: 20px;
  height: 65vh;
  background-color: #d8f9ec;
  position: relative;
}


.satisfaction__container--mini-barra2{
  animation: barra2 2s forwards;
}


@keyframes barra2{
  100%{
    height: 88%;
  }
}


.satisfaction__container--barra3{
  width: 15%;
  height: 65vh;
  margin-left: 12px;
  background: linear-gradient(45deg, #DF0303, #DBDF03, #009458);
  position: relative;
}


.satisfaction__container--barra3 div{
  width: 14%;
  padding: 21px;
  height: 65vh;
  background-color: #d8f9ec;
  position: relative;
}


.satisfaction__container--mini-barra3{
  animation: barra3 2s forwards;
}


@keyframes barra3{
  100%{
    height: 60%;
  }
}


.satisfaction__container--barra4{
  width: 15%;
  height: 65vh;
  margin-left: 12px;
  background: linear-gradient(45deg, #DF0303, #DBDF03, #009458);
  position: relative;
}


.satisfaction__container--barra4 div{
  width: 14%;
  padding: 21px;
  height: 65vh;
  background-color: #d8f9ec;
  position: relative;
}


.satisfaction__container--mini-barra4{
  animation: barra4 2s forwards;
}


@keyframes barra4{
  100%{
    height: 72%;
  }
}


.satisfaction__container--barra5{
  width: 15%;
  height: 65vh;
  margin-left: 12px;
  background: linear-gradient(45deg, #DF0303, #DBDF03, #009458);
  position: relative;
}


.satisfaction__container--barra5 div{
  width: 14%;
  padding: 21px;
  height: 65vh;
  background-color: #d8f9ec;
  position: relative;
}


.satisfaction__container--mini-barra5{
  animation: barra5 2s forwards;
}


@keyframes barra5{
  100%{
    height: 1%;
  }
}

/* Sección  nivel de emociones*/
.containerEmotions{
  width: 90%;
  height: 80vh;
  background-color: rgba(0, 148, 88, 0.15);
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  border-radius: 10px;
}

.emotion{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bar{
  width: 70%;
  background: #D9D9D9;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.bar div{
  position: relative;
  width: 0;
  height: 100%;
  border-radius: 10px;
}

/* Animación */
#barFelicidad{
  background-color: #009458;
  animation: felicidad-barra 5s forwards;
}

@keyframes felicidad-barra{
  
  100%{
    width: 65%;
  }
}

#barSorpresa{
  background-color: #009458;
  animation: sorpresa-barra 5s forwards;
}

@keyframes sorpresa-barra{
  
  100%{
    width: 80%;
  }
}

#barTristesa{
  background-color: #DF0303;
  animation: tristesa-barra 5s forwards;
}

@keyframes tristesa-barra{
  
  100%{
    width: 10%;
  }
}

#barEnojo{
  background-color: #DF0303;
  animation: enojo-barra 5s forwards;
}

@keyframes enojo-barra{
  
  100%{
    width: 25%;
  }
}

#barCuriosidad{
  background-color: #DBDF03;
  animation: curiosidad-barra 5s forwards;
}

@keyframes curiosidad-barra{
  
  100%{
    width: 45%;
  }
}

#barAsombro{
  background-color: #009458;
  animation: asombro-barra 5s forwards;
}

@keyframes asombro-barra{
  
  100%{
    width: 75%;
  }
}

#barIndiferencia{
  background-color: #DF0303;
  animation: indiferencia-barra 5s forwards;
}

@keyframes indiferencia-barra{
  
  100%{
    width: 30%;
  }
}

#barEntusiasmo{
  background-color: #009458;
  animation: entusiasmo-barra 5s forwards;
}

@keyframes entusiasmo-barra{
  
  100%{
    width: 63%;
  }
}



/* Sección comparativa */
.containerComparative{
  width: 90%;
  height: 80vh;
  background-color: rgba(0, 148, 88, 0.15);
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding: 5%;
  border-radius: 10px;
}

@media (min-width: 426px) {
  /* Sección Header */
  
  .menu2 {
    
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-template-rows: repeat(3, 30px);    
    background-color: #009458;
    padding: 15px;  }

  .menu2 button {
    border-radius: 15px;
    width: 100px;
    height: 35px; 
    }

    .botones button:first-of-type{
      width: 8rem;
    }

   

    
    /*fila /columna/fila orden grid*/
  .botones {
    display: flex;
    grid-area: 2/2/3/3;
  }



  





  /* Sección información estudiante */

  /* Sección nivel de aprobación con caras */

  /* Sección cursos */
  
  /* Sección satisfacción por curso */

  /* Sección  nivel de emociones*/

  /* Sección comparativa */
}


@media (max-width: 1024px) {
  /* Sección Header */

  /* Sección información estudiante */

  /* Sección nivel de aprobación con caras */

  /* Sección cursos */

  /* Sección satisfacción por curso */

  /* Sección  nivel de emociones*/

  /* Sección comparativa */
}